<link rel="stylesheet" href="/footer.css">
<footer>
    <div class="container">
        <br>
      <hr style="height:2px; color: white;">
      <div class="footersize row text-white">
        <div class="col-4 text-center">
            <h4 class="headings">About US</h4>
            <p>This is a Codechef Problem Fetcher App where based on selected tags we can fetch the problems and view the problems if any and also some other features like we can create a problem and post it after login and also user can create his/her own user defined tags which can be seen by only the user when he logins.</p>
        </div>
        <div class="col-4 text-center">
            <h4 class="headings mb-4">Quick links</h4>
            <ul class="list-unstyled text-muted">
                <li><a href="/">Home</a></li>
                <li><a href="#">Create Problem</a></li>
            </ul>
        </div>
        <div class="col-4 text-center">
          <h4 class="headings">Contact US</h4>
          <p>ravitejagongada123@gmail.com</p>
          <p>  +919390230048</p>
        </div>
      </div>
      <br>
      <br>
    </div>
  </footer>
  <script src="/js/search.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>