<!Doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="/header.css" rel="stylesheet">
    <title>Codechef Problem Fetcher</title>
  </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top" id="navmain">
       <div class="container-fluid">
           <a class="navbar-brand" href="/">
               <img src="/img/headerlogo.jpg" class="logo-image img-fluid" >
           </a>
           <button
           class="navbar-toggler"
           type="button"
           data-bs-toggle="collapse"
           data-bs-target="#navbarNav"
           aria-controls="navbarNav"
           aria-expanded="false"
           aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <!-- <li class="nav-item">
                    <form class="nav-link">
                        <input type="text" placeholder="Select tags....">
                        <button type="submit">Apply tags</button>
                    </form>
                  </li> -->
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/interview" >Interview Experience</a>
                  </li> -->
                  <% if(isLoggedIn) {%>  
                    <li class="nav-item">
                      <a class="nav-link" href="/createproblem" >Create Problem</a>
                    </li>
                    <% } %>
                </ul>
                  
                <% if(isLoggedIn) {%>  
                <ul class="user navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" id="usericon"><%=username[0] %></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%=username %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                  </li>
                  </ul>
                <% } else {%>
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link"  href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">/</a>
                      </li>
          
                      <li class="nav-item">
                        <a class="nav-link" href="/signup">SignUp</a>
                      </li>
                    </ul>
                    <% } %>
              </div>

       </div>
    </nav>
    